/node_modules
/logs
/dist
/temp


/.idea/*
*.local.*
*.log

# System Files
.DS_Store
Thumbs.db


# Explicitly allowed
!/.idea/codeStyleSettings.xml
!/.idea/misc.xml
!/.idea/inspectionProfiles
!/.idea/runConfigurations
/src/environments/dev.json
